
.inner-wrapper{
    z-index: 1;
    height: 91vh;
}

#behind>.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.description {
    position: absolute;
}

#nav {
    z-index: 5;
}
.carousel-control-prev{
    z-index: 3;
}

.carousel-control-next{
    z-index: 3;
}

#top{
    z-index: 4;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
#behind{
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 100vh;

}

#carouselHouses{
    height: inherit;
}
#carousel-content{
    height: inherit;
}
#carousel-content>.carousel-item{
    height: inherit;
}
#carousel-content>.carousel-item>img{
    height: inherit;
}

#navbarNavIndex ul:first-child li {
    list-style: none;
    border-right: 1px #fff solid;
}


#navbarNavIndex ul:first-child li:last-child {
    border-right: 0px;
}

.welcome-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.navbar{
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.align-text-center{
    text-align: center;
}

.slick-track::after{
    padding-bottom: .5rem !important;
}

.salient-img{
    position: relative;
}
.salient-type{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    border-radius: 0 0 0 1em;
    background: #95a5a6;
    color: #fff;
}
.salient-fav{
    position: absolute;
    top: 0;
    left: 0.3em;
    text-shadow: 3px 6px #272634;
}

.salient-action{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background: #e67e22;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5em 1em;
    color: #fff;
}

.salient-type-description{
    clip-path: polygon(0% 0%, 0% 100%, 75% 100%, 100% 50%, 75% 0%);
    background: #e67e22;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em 1em;
    color: #fff;
}

.text-accent{
    color: #e67e22;
}

.fav-format{
    font-size: 1.3em;
}

.black-fill{
    background: #3c434b;
}
.navbar-image{
    text-align: right;
}
.navbar-image-link img{
    width: 60%;
    padding: 0.5em;
}

.small-image-link {
    width: 80%;
}

.not-fixed{
    position: relative !important;
}

.fit-height{
    height: fit-content !important;
}

#menu-search{
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
#menu-search > *{
    max-width: 100vw;
}
#map {
    background-color: grey;
    height: 92vh;
}
.hide{
    display: none;
}
.house-arrow{
    bottom: 0;
    right: 0;
    width: 80px;
    position: absolute;
}
.title-help-tex-sm{
    font-size: 1.563rem;
}

.overflow-wrap {
    overflow-wrap: break-word;
}

.description-size{
    height: 500px;
}
.set-slicker{
    height: 72px;
}
