
.inner-wrapper{
    z-index: 1;
    height: 94vh;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 4;
}

.description {
    position: absolute;
}


.carousel-control-prev{
    z-index: 3;
}

.carousel-control-next{
    z-index: 3;
}
.index-screen-mask{
    width: 100%;
    height: inherit;
    position: absolute;
}
#navbar-index {
    z-index: 5;
    position: absolute;
}

#logo-image{
    z-index: 3;
}
#logo-image{
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.same-level-index{
    z-index: 4;
}
#search-buttons>div{
    bottom: 0;
    left: 0;
}
#carousel-holder{
    z-index: 2;
}

#carouselHouses{
    height: inherit;
}
#carousel-content{
    height: inherit;
}
#carousel-content>.carousel-item{
    height: inherit;
}
#carousel-content>.carousel-item>img{
    height: inherit;
}

#navbarNavIndex ul:first-child li {
    list-style: none;
    border-right: 1px #fff solid;
}


#navbarNavIndex ul:first-child li:last-child {
    border-right: 0px;
}

.welcome-container{
    width: 100%;
    height: 94vh;
    top: 0;
    left: 0;
}
.navbar{
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.align-text-center{
    text-align: center;
}

.slick-track::after{
    padding-bottom: .5rem !important;
}
.slick-track>*{
    cursor: pointer;
}

.salient-img{
    position: relative;
}
.salient-type{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    border-radius: 0 0 0 1em;
    background: #95a5a6;
    color: #fff;
}
.salient-fav{
    position: absolute;
    top: 0;
    left: 0.3em;
    text-shadow: 3px 3px #f0ffef;
}

.salient-action{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background: #e67e22;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5em 1em;
    color: #fff;
}

.salient-type-description{
    clip-path: polygon(0% 0%, 0% 100%, 75% 100%, 100% 50%, 75% 0%);
    background: #e67e22;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em 1em;
    color: #fff;
}

.text-accent{
    color: #e67e22;
}

.fav-format{
    font-size: 1.3em;
}

.black-fill{
    background: #3c434b;
}
.navbar-image{
    text-align: right;
}
.navbar-image-link img{
    width: 60%;
    padding: 0.5em;
}

.small-image-link {
    width: 80%;
}

.not-fixed{
    position: relative !important;
}

.fit-height{
    height: fit-content !important;
}

#menu-search{
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 14vh;
}
#menu-search > *{
    width: 100%;
}
.search-size{
    max-height: 88vh;
    overflow: hidden;
}
#search-map-results-holder{
    max-width: 100%;
}
#search-results-container{
    overflow-y: auto;
    max-height: 88vh;
}
#map-holder{
    max-height: 88vh;
}
#map {
    background-color: grey;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.hide{
    display: none;
}
.house-arrow{
    bottom: 0;
    right: 0;
    width: 80px;
    position: absolute;
}
.title-help-text-sm{
    font-size: 1.563rem;
}

.overflow-wrap {
    overflow-wrap: break-word;
}

.description-size{
    height: 480px;
}
.set-slicker{
    height: 72px;
}
.clickable-link{
    cursor: pointer;
}
.traspasable{
    z-index: -10;
}
.instraspasable{
    z-index: 10;
}
.target-found{
    z-index: 9;
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: none;
}
#intro-items>button.slick-prev.slick-arrow,
#intro-items>button.slick-next.slick-arrow{
    color: var(--primary);
}

#intro-items>button.slick-prev.slick-arrow{
    left: 0;
}
#intro-items>button.slick-next.slick-arrow{
    right: 0;
}