<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="client/fragments/navbar::header-simple"></head>
<header>
    <div class="bg-light pr-1 pl-1">
        <nav th:replace="client/fragments/navbar::commun"></nav>
    </div>
</header>
<body>
<div th:replace="client/fragments/navbar::loader"></div>
<div class="container-fluid mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-4">
            <div class="card card-small mb-4">
                <div class="card-header bg-primary border-bottom">
                    <h4 class="m-0 text-white text-center">Ingresa sesión</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <div class="row">
                            <form class="col" method="POST" action="/login">
                                <div class="form-group d-flex flex-column justify-content-center" th:classappend="${error} ? 'has-error':''">
                                    <div class="form-row">
                                        <!-- Username input -->
                                        <div class="form-group col-md-12">
                                            <label for="email">Correo electronico</label>
                                            <input type="email" class="form-control" id="email"
                                                   placeholder="Correo electronico">
                                        </div>
                                        <!--/ Username input -->
                                        <!-- Password input -->
                                        <div class="form-group col-md-12">
                                            <label for="password">Contraseña</label>
                                            <input type="password" class="form-control" id="password"
                                                   placeholder="Contraseña">
                                        </div>
                                        <!--/ Password input -->
                                        <span class="pl-2 text-danger" th:text="${message}"></span>
                                        <span class="pl-2 text-danger" th:text="${error}"></span>
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    </div>
                                    <button type="submit" class="btn btn-accent">Ingresar</button>
                                    <h4 class="text-center mt-2"><a th:href="@{/registration}">Crear cuenta</a></h4>
                                </div>
                                </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:replace="client/fragments/footer::standard-footer"></div>

<div th:replace="client/fragments/footer::script-simple"></div>
</body>
</html>