<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="client/fragments/navbar::header-simple"></head>
<header>
    <div class="bg-light pr-1 pl-1">
        <nav th:replace="client/fragments/navbar::commun"></nav>
    </div>
</header>
<body>
<div th:replace="client/fragments/navbar::loader"></div>

<body>
<div class="container-fluid h-100 w-100">
    <div class="row">
        <div class="col-md-3">
            <div class="d-flex flex-column justify-content-center align-items-start">
                <div class="pl-1 w-100"><h6>Profile</h6></div>
                <div class="pl-1 w-100"><h6>Request</h6></div>
                <div class="pl-1 w-100"><h6>Personal space</h6></div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container">
                <div class="row">
                    <div id="client-profile" class="col-md-12 hidden">
                    </div>
                    <div id="client-request" class="col-md-12 hidden"></div>
                    <div id="client-my-space" class="col-md-12 hidden"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>