<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:insert="client/fragments/navbar::header-files"></head>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCXeby84Czz7k7aBjHuUGw8BZEhhl-k_qI"></script>
<script defer th:src="@{/assets/js/client/marker-with-label.js}"></script>

<body>
<header>
    <div class="bg-light pr-1 pl-1">
        <nav th:replace="client/fragments/navbar::commun"></nav>
    </div>
</header>
<div class="container mt-4">
    <div id="name&fav">
        <h2 class="title text-accent align-middle">Hermosa Casa Amueblada
            <i class="fas fa-star text-warning title-help-text-sm pl-1"></i></h2>
    </div>
    <span class="multiline-text">ID: SV001</span>
    <div class="row">
        <!-- Image and description -->
        <div class="col-md-8">
            <div class="row mb-2">
                <div class="col-md-12">
                    <div id="preview-house" class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="description-size d-block w-100"
                                     th:src="@{/assets/img/description/THouse1.jpg}"
                                     alt="slide 1">
                            </div>
                            <div class="carousel-item">
                                <img class="description-size d-block w-100"
                                     th:src="@{/assets/img/description/THouse2.jpg}"
                                     alt="slide 2">
                            </div>
                            <div class="carousel-item">
                                <img class="description-size d-block w-100"
                                     th:src="@{/assets/img/description/THouse3.jpg}"
                                     alt="slide 3">
                            </div>
                            <div class="carousel-item">
                                <img class="description-size d-block w-100"
                                     th:src="@{/assets/img/description/THouse4.jpg}"
                                     alt="slide 4">
                            </div>
                            <div class="carousel-item">
                                <img class="description-size d-block w-100"
                                     th:src="@{/assets/img/description/THouse5.jpg}"
                                     alt="slide 5">
                            </div>
                            <div class="carousel-item">
                                <img class="description-size d-block w-100"
                                     th:src="@{/assets/img/description/THouse6.jpg}"
                                     alt="slide 6">
                            </div>
                            <div class="carousel-item">
                                <img class="description-size d-block w-100"
                                     th:src="@{/assets/img/description/THouse7.jpg}"
                                     alt="slide 7">
                            </div>
                            <div class="carousel-item">
                                <img class="description-size d-block w-100"
                                     th:src="@{/assets/img/description/THouse8.jpg}"
                                     alt="slide 8">
                            </div>
                            <div class="house-arrow flex-row pb-3">
                                <a id="button-prev-carousel" class="clickable-link" role="button">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a id="button-next-carousel" class="clickable-link" role="button">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="btn-sm btn-primary salient-type-description">
                            <span>Estreno</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="description-items">
                        <div data-target="#preview-house" th:data-slide-to="0" class="mr-2 ml-2 salient-img">
                            <img class="set-slicker card-img-top slider-square" th:src="@{/assets/img/description/THouse1.jpg}"
                                 alt="Card image cap 1">
                        </div>
                        <div data-target="#preview-house" th:data-slide-to="1" class="mr-2 ml-2 salient-img">
                            <img class="set-slicker card-img-top slider-square" th:src="@{/assets/img/description/THouse2.jpg}"
                                 alt="Card image cap 2">
                        </div>
                        <div data-target="#preview-house" th:data-slide-to="2" class="mr-2 ml-2 salient-img">
                            <img class="set-slicker card-img-top slider-square" th:src="@{/assets/img/description/THouse3.jpg}"
                                 alt="Card image cap 3">
                        </div>
                        <div data-target="#preview-house" th:data-slide-to="3" class="mr-2 ml-2 salient-img">
                            <img class="set-slicker card-img-top slider-square" th:src="@{/assets/img/description/THouse4.jpg}"
                                 alt="Card image cap 4">
                        </div>
                        <div data-target="#preview-house" th:data-slide-to="4" class="mr-2 ml-2 salient-img">
                            <img class="set-slicker card-img-top slider-square" th:src="@{/assets/img/description/THouse5.jpg}"
                                 alt="Card image cap 5">
                        </div>
                        <div data-target="#preview-house" th:data-slide-to="5" class="mr-2 ml-2 salient-img">
                            <img class="set-slicker card-img-top slider-square" th:src="@{/assets/img/description/THouse6.jpg}"
                                 alt="Card image cap 6">
                        </div>
                        <div data-target="#preview-house" th:data-slide-to="6" class="mr-2 ml-2 salient-img">
                            <img class="set-slicker card-img-top slider-square" th:src="@{/assets/img/description/THouse7.jpg}"
                                 alt="Card image cap 7">
                        </div>
                        <div data-target="#preview-house" th:data-slide-to="7" class="mr-2 ml-2 salient-img">
                            <img class="set-slicker card-img-top slider-square" th:src="@{/assets/img/description/THouse8.jpg}"
                                 alt="Card image cap 8">
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-row text-right">
                <a href="#" id="print-resume"><i class="fas fa-print title-help-text-sm text-black"></i></a>
                <a href="#" id="download-resume"><i class="fas fa-download title-help-text-sm text-black"></i></a>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 text-justify">
                    <p id="product-description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum
                    </p>
                </div>
            </div>
            <div class="row" id="special-features-holder">
                <div class="col-md-12">
                    <h6><i class="fas fa-square text-info pr-1"></i>Características especiales</h6>
                </div>
                <div class="col-md-12">
                    <div id="special-features" class="row">
                        <div class="col-md-4">
                            <p><i class="fas fa-check text-info pr-1"></i>Portico</p>
                        </div>
                        <div class="col-md-4">
                            <p><i class="fas fa-check text-info pr-1"></i>Parque</p>
                        </div>
                        <div class="col-md-4">
                            <p><i class="fas fa-check text-info pr-1"></i>Acceso a piscina</p>
                        </div>
                        <div class="col-md-4">
                            <p><i class="fas fa-check text-info pr-1"></i>Gimnasio</p>
                        </div>
                        <div class="col-md-4">
                            <p><i class="fas fa-check text-info pr-1"></i>Comedor privado</p>
                        </div>
                        <div class="col-md-4">
                            <p><i class="fas fa-check text-info pr-1"></i>Jardin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="nearby-description-holder">
                <div class="col-md-12">
                    <h6><i class="fas fa-square text-info pr-1"></i>Cerca</h6>
                </div>
                <div class="col-md-12 mt-1" id="nearby-description text-justify">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <div class="col-md-12">
                    <div id="nearby-features" class="row">
                        <div class="col-md-4">
                            <p><i class="fas fa-map-marker-alt text-info pr-1"></i><b>Hospital: </b>1.2Kms</p>
                        </div>
                        <div class="col-md-4">
                            <p><i class="fas fa-map-marker-alt text-info pr-1"></i><b>Aeropuerto: </b>2Kms</p>
                        </div>
                        <div class="col-md-4">
                            <p><i class="fas fa-map-marker-alt text-info pr-1"></i><b>Gimnasio: </b>2Kms</p>
                        </div>
                        <div class="col-md-4">
                            <p><i class="fas fa-map-marker-alt text-info pr-1"></i><b>Escuela: </b>1.7Kms</p>
                        </div>
                        <div class="col-md-4">
                            <p><i class="fas fa-map-marker-alt text-info pr-1"></i><b>Estación de buses: </b>1.7Kms</p>
                        </div>
                        <div class="col-md-4">
                            <p><i class="fas fa-map-marker-alt text-info pr-1"></i><b>Libreria: </b>1.7Kms</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Image and description -->
        <!-- Target side bar options -->
        <div class="col-md-4 d-flex flex-column">
            <div class="row">
                <div id="price" class="col-md-9">
                    <h4 class="title text-shuttle-gray">$550,000.-</h4>
                </div>
                <div id="favorite" class="col-md-3">
                    <h4><i class="fas fa-heart text-danger"></i>
                        <i class="fas fa-ban text-danger"></i>
                    </h4>
                </div>
            </div>
            <div id="features" class="row align-text-center text-left offset-md-1">
                <div class="col-md-6">
                    <i class="far fa-clone"></i> 2
                    <h6>Cuartos</h6>
                </div>
                <div class="col-md-6">
                    <i class="fas fa-bed"></i> 3
                    <h6>Dormitorios</h6>
                </div>
                <div class="col-md-6">
                    <i class="fas fa-bath"></i> 2
                    <h6>Baños</h6>
                </div>
                <div class="col-md-6">
                    <i class="fas fa-layer-group"></i> 1500
                    <h6>Área m^2</h6>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 d-flex flex-row align-items-center justify-content-center">
                    <img class="d-block w-50" th:src="@{/assets/img/general/3dtourlogo.png}"
                         alt="Virtual">
                    <button class="btn btn-primary fit-height">Ver tour virtual</button>
                </div>
            </div>
            <hr>
            <div class="row mb-4 text-center">
                <div class="col-md-4">
                    <button class="btn btn-pill btn-info w-100 h-100">Hoja<br>Tecnica</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-pill btn-info w-100 h-100">Planos<br>ARQ</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-pill btn-info w-100 h-100">Valúo</button>
                </div>
            </div>
            <div class="row row-eq-height">
                <div class="col-md-4">
                    <img class="d-block w-100 salesman-face" th:src="@{/assets/img/avatar1.jpg}" th:alt="Name">
                </div>
                <div class="col-md-8 d-flex flex-column align-items-center justify-content-end">
                    <div class="flex-row align-items-center text-center">
                        <i class="fas fa-star text-warning pl-1"></i>
                        <i class="fas fa-star text-warning pl-1"></i>
                        <i class="fas fa-star text-warning pl-1"></i>
                        <i class="fas fa-star text-warning pl-1"></i>
                        <i class="far fa-star text-warning pl-1"></i>
                    </div>
                    <h5 class="text-shuttle-gray" id="user-name text-center">Johnson Mateo</h5>
                    <button class="btn btn-primary w-100 mb-1">Contactar</button>
                    <button class="btn btn-primary w-100">Agenda tu Cita</button>
                </div>
            </div>

        </div>
        <!-- / Target side bar options -->
        <!-- Target map -->
        <div class="col-md-7">
            <div id="map" class="w-100 h-100"></div>
        </div>
        <!-- / Target map -->
        <!-- Calculator -->
        <div class="col-md-5">
            <div class="card">
                <div class="card-header bg-primary">
                    <h4 class="text-center text-white">Calcula tu cuota</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-12 d-flex flex-column">
                                    <label class="text-muted" for="calculator-price">Precio del inmueble</label>
                                    <div class="input-group mb-3 w-100">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input id="calculator-price" type="text" class="form-control">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-info"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 d-flex flex-column">
                                    <label class="text-muted" for="calculator-interest">Tasa de interés (%)</label>
                                    <div class="input-group mb-3 w-100">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">%</span>
                                        </div>
                                        <input id="calculator-interest" type="text" class="form-control">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-info"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 d-flex flex-column">
                                    <label class="text-muted" for="calculator-initial">Pago inicial (%)</label>
                                    <div class="input-group mb-3 w-100">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">%</span>
                                        </div>
                                        <input id="calculator-initial" type="text" class="form-control">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-info"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 d-flex flex-column">
                                    <label class="text-muted" for="calculator-years"><i
                                            class='fas fa-check text-warning pr-1'></i>Años</label>
                                    <div class="input-group mb-3 w-100">
                                        <input id="calculator-years" type="text" class="form-control">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-info"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row d-flex flex-row justify-content-around">
                                <button class="btn btn-lg btn-success">Calcular</button>
                                <button class="btn btn-lg btn-dark">Reiniciar</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- / Calculator -->
    </div>
</div>
<br>
<div class="container mt-5 mb-3">
    <h4 class="align-text-center mb-4">Inmuebles similares</h4>
</div>
    <!-- Recommended slicker -->
    <div class="slider-box _clearfix position-sticky">
        <div class="col-md-12 col-sm-0 paginator-center text-color text-center ">
            <button class="btn btn-lg btn-dark prev-slick ml-1"><i class="fas fa-arrow-left"></i></button>
            <button class="btn btn-lg btn-dark next-slick mr-1"><i class="fas fa-arrow-right"></i></button>
        </div>
        <div id="recommended" class="mt-4 mb-5">
            <div class="card mr-2 ml-2" th:href="@{/description}">
                <div class="salient-img">
                    <img class="card-img-top" th:src="@{/assets/img/house2.jpg}" alt="Card image cap">
                    <div class="btn btn-sm btn btn-sm salient-action">
                        <span>Alquiler</span>
                    </div>
                    <div class="salient-fav fav-format">
                        <i class="fas fa-star text-warning"></i>
                    </div>
                    <div class="salient-interest d-flex justify-content-around">
                        <i class="fas fa-heart text-danger fav-format"></i>
                        <i class="fas fa-ban text-danger fav-format"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title text-accent">Diseño rústico</h5>
                    </div>
                    <h5><i class="fas fa-dollar-sign">1000</i></h5>
                    <hr>
                    <p>
                        <i class="fas fa-map-marker-alt text-muted mr-3"></i> 75 avenida norte
                    </p>
                    <div class="d-flex justify-content-between text-muted text-center">
                        <div>
                            <i class="far fa-clone"></i> 2
                            <h6>Cuartos</h6>
                        </div>
                        <div>
                            <i class="fas fa-bed"></i> 3
                            <h6>Dormitorios</h6>
                        </div>
                        <div>
                            <i class="fas fa-bath"></i> 2
                            <h6>Baños</h6>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <button class="btn btn-outline-primary" type="submit">Detalles</button>
                    </div>
                </div>
            </div>
            <div class="card mr-2 ml-2" th:href="@{/description}">
                <div class="salient-img">
                    <img class="card-img-top" th:src="@{/assets/img/house1.jpg}" alt="Card image cap">
                    <div class="btn btn-sm salient-action">
                        <span>Alquiler</span>
                    </div>
                    <div class="salient-fav fav-format">
                        <i class="fas fa-star text-warning"></i>
                    </div>
                    <div class="salient-interest d-flex justify-content-around">
                        <i class="fas fa-heart text-danger fav-format"></i>
                        <i class="fas fa-ban text-danger fav-format"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title text-accent">Amplia y recién construida</h5>
                    </div>
                    <h5><i class="fas fa-dollar-sign">1000</i></h5>
                    <hr>
                    <p>
                        <i class="fas fa-map-marker-alt text-muted mr-3"></i> 75 avenida norte
                    </p>
                    <div class="d-flex justify-content-between text-muted text-center">
                        <div>
                            <i class="far fa-clone"></i> 2
                            <h6>Cuartos</h6>
                        </div>
                        <div>
                            <i class="fas fa-bed"></i> 3
                            <h6>Dormitorios</h6>
                        </div>
                        <div>
                            <i class="fas fa-bath"></i> 2
                            <h6>Baños</h6>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <button class="btn btn-outline-primary" type="submit">Detalles</button>
                    </div>
                </div>
            </div>
            <div class="card mr-2 ml-2" th:href="@{/description}">
                <div class="salient-img">
                    <img class="card-img-top" th:src="@{/assets/img/house3.jpg}" alt="Card image cap">
                    <div class="btn btn-sm salient-action">
                        <span>Alquiler</span>
                    </div>
                    <div class="salient-fav fav-format">
                        <i class="fas fa-star text-warning"></i>
                    </div>
                    <div class="salient-interest d-flex justify-content-around">
                            <i class="fas fa-heart text-danger fav-format"></i>
                            <i class="fas fa-ban text-danger fav-format"></i>
                    </div>
                </div>

                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title text-accent">Exculsiva del sitio web</h5>
                    </div>
                    <h5><i class="fas fa-dollar-sign">1000</i></h5>
                    <hr>
                    <p>
                        <i class="fas fa-map-marker-alt text-muted mr-3"></i> 75 avenida norte
                    </p>
                    <div class="d-flex justify-content-between text-muted text-center">
                        <div>
                            <i class="far fa-clone"></i> 2
                            <h6>Cuartos</h6>
                        </div>
                        <div>
                            <i class="fas fa-bed"></i> 3
                            <h6>Dormitorios</h6>
                        </div>
                        <div>
                            <i class="fas fa-bath"></i> 2
                            <h6>Baños</h6>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <button class="btn btn-outline-primary" type="submit">Detalles</button>
                    </div>
                </div>
            </div>
            <div class="card mr-2 ml-2" th:href="@{/description}">
                <div class="salient-img">
                    <img class="card-img-top" th:src="@{/assets/img/house2.jpg}" alt="Card image cap">
                    <div class="btn btn-sm salient-action">
                        <span>Alquiler</span>
                    </div>
                    <div class="salient-fav fav-format">
                        <i class="fas fa-star text-warning"></i>
                    </div>
                    <div class="salient-interest d-flex justify-content-around">
                        <i class="fas fa-heart text-danger fav-format"></i>
                        <i class="fas fa-ban text-danger fav-format"></i>
                    </div>
                </div>

                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title text-accent">Removida a finales de septiembre</h5>
                    </div>
                    <h5><i class="fas fa-dollar-sign">1000</i></h5>
                    <hr>
                    <p>
                        <i class="fas fa-map-marker-alt text-muted mr-3"></i> 75 avenida norte
                    </p>
                    <div class="d-flex justify-content-between text-muted text-center">
                        <div>
                            <i class="far fa-clone"></i> 2
                            <h6>Cuartos</h6>
                        </div>
                        <div>
                            <i class="fas fa-bed"></i> 3
                            <h6>Dormitorios</h6>
                        </div>
                        <div>
                            <i class="fas fa-bath"></i> 2
                            <h6>Baños</h6>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <button class="btn btn-outline-primary" type="submit">Detalles</button>
                    </div>
                </div>
            </div>
            <div class="card mr-2 ml-2" th:href="@{/description}">
                <div class="salient-img">
                    <img class="card-img-top" th:src="@{/assets/img/house1.jpg}" alt="Card image cap">
                    <div class="btn btn-sm salient-action">
                        <span>Alquiler</span>
                    </div>
                    <div class="salient-fav fav-format">
                        <i class="fas fa-star text-warning"></i>
                    </div>
                    <div class="salient-interest d-flex justify-content-around">
                        <i class="fas fa-heart text-danger fav-format"></i>
                        <i class="fas fa-ban text-danger fav-format"></i>
                    </div>
                </div>

                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title text-accent">Recién remodelada</h5>
                    </div>
                    <h5><i class="fas fa-dollar-sign">1000</i></h5>
                    <hr>
                    <p>
                        <i class="fas fa-map-marker-alt text-muted mr-3"></i> 75 avenida norte
                    </p>
                    <div class="d-flex justify-content-between text-muted text-center">
                        <div>
                            <i class="far fa-clone"></i> 2
                            <h6>Cuartos</h6>
                        </div>
                        <div>
                            <i class="fas fa-bed"></i> 3
                            <h6>Dormitorios</h6>
                        </div>
                        <div>
                            <i class="fas fa-bath"></i> 2
                            <h6>Baños</h6>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <button class="btn btn-outline-primary" type="submit">Detalles</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Recommended slicker -->
<br>
<div class="container d-flex flex-column align-items-center align-content-around text-center bg-primary p-4">
    <h2 class="text-white">¿Quiéres publicar una propiedad?</h2>
    <button class="btn btn-lg btn-info w-25"><i class="fas fa-plus pr-1"></i>Publica con nosotros</button>
</div>
<br>
<br>

<div th:replace="client/fragments/footer::standard-footer"></div>

<div th:replace="client/fragments/footer::script-files"></div>

<script type="text/javascript" th:src="@{/assets/js/client/general/slick.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/client/description/visual-config.js}"></script>
<script th:replace="client/inline/map-config-description::map-javascript"></script>
</body>
</html>