<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="client/fragments/navbar::header-simple"></head>
<header>
    <div class="bg-light pr-1 pl-1">
        <nav th:replace="client/fragments/navbar::commun"></nav>
    </div>
</header>
<body>
<div th:replace="client/fragments/navbar::loader"></div>
<div class="error">
    <div class="error__content">
        <h2 th:text="${error}"></h2>
        <h3>Something went wrong!</h3>
        <p th:text="${message}"></p>

    </div>
</div>
<div th:replace="client/fragments/footer::standard-footer"></div>

<div th:replace="client/fragments/footer::script-simple"></div>
</body>
</html>