<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="client/fragments/navbar::header-files"></head>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCXeby84Czz7k7aBjHuUGw8BZEhhl-k_qI"></script>

<body class="normal-line-height overflow-hidden">
<div th:replace="client/fragments/navbar::loader"></div>
<!--nav bar -->
<header id="menu-search" class="bg-light">
    <nav th:replace="client/fragments/navbar::commun"></nav>
    <div class="row pr-3 pl-3 pb-2 ">
        <div class="col-md-9">
            <div class="flex-row justify-content-between">
                <h5 class="title mt-1 d-inline">Filtros</h5>
                <div th:replace="client/fragments/search-filters::property"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="custom-control custom-toggle my-2">
                <input type="checkbox" id="map-toggle" name="map-toggle" class="custom-control-input">
                <label class="custom-control-label" for="map-toggle">Mostrar mapa</label>
            </div>
        </div>
    </div>
</header>
<!--/end nav bar -->
<div class="container-fluid search-size">
    <div class="row search-size">
        <div id="search-results-container" class="col-md-12">
            <div class="container-fluid mt-4 pr-0 pl-0">
                <h3 class="title pt-2 pb-1 col-md-12 col-sm-12">Resultados de busqueda</h3>
                <div class="col-md-12">
                    <div id="search-results" class="row justify-content-center">
                        <div class="col-md-3 mb-4 pl-1 pr-1">
                            <a th:href="@{/description}" class="custom-card">
                                <div class="card target-found">
                                    <div class="salient-img">
                                        <img class="card-img-top" th:src="@{/assets/img/house1.jpg}"
                                             alt="Card image cap">
                                        <dsearch-resultsiv class="btn btn-sm salient-action">
                                            <span>Alquiler</span>
                                        </dsearch-resultsiv>
                                        <div class="salient-fav fav-format">
                                            <i class="fas fa-star text-warning"></i>
                                        </div>
                                        <div class="salient-interest d-flex justify-content-around">
                                            <i class="fas fa-heart text-danger fav-format"></i>
                                            <i class="fas fa-ban text-danger fav-format"></i>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h5 class="card-title text-accent">Amplia y recién construida</h5>
                                        </div>
                                        <h5><i class="fas fa-dollar-sign">1000</i></h5>
                                        <hr>
                                        <p>
                                            <i class="fas fa-map-marker-alt text-muted mr-3"></i> 75 avenida norte
                                        </p>
                                        <div class="d-flex justify-content-between text-muted text-center">
                                            <div>
                                                <i class="far fa-clone"></i> 2
                                                <h6>Cuartos</h6>
                                            </div>
                                            <div>
                                                <i class="fas fa-bed"></i> 3
                                                <h6>Dormitorios</h6>
                                            </div>
                                            <div>
                                                <i class="fas fa-bath"></i> 2
                                                <h6>Baños</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 mb-4 pl-1 pr-1">
                            <a th:href="@{/description}" class="custom-card">
                                <div class="card target-found">
                                    <div class="salient-img">
                                        <img class="card-img-top" th:src="@{/assets/img/house2.jpg}"
                                             alt="Card image cap">
                                        <div class="btn btn-sm salient-action">
                                            <span>Alquiler</span>
                                        </div>
                                        <div class="salient-fav fav-format">
                                            <i class="fas fa-star text-warning"></i>
                                        </div>
                                        <div class="salient-interest d-flex justify-content-around">
                                            <i class="fas fa-heart text-danger fav-format"></i>
                                            <i class="fas fa-ban text-danger fav-format"></i>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h5 class="card-title text-accent">Exculsiva del sitio web</h5>
                                        </div>
                                        <h5><i class="fas fa-dollar-sign">1000</i></h5>
                                        <hr>
                                        <p>
                                            <i class="fas fa-map-marker-alt text-muted mr-3"></i> 75 avenida norte
                                        </p>
                                        <div class="d-flex justify-content-between text-muted text-center">
                                            <div>
                                                <i class="far fa-clone"></i> 2
                                                <h6>Cuartos</h6>
                                            </div>
                                            <div>
                                                <i class="fas fa-bed"></i> 3
                                                <h6>Dormitorios</h6>
                                            </div>
                                            <div>
                                                <i class="fas fa-bath"></i> 2
                                                <h6>Baños</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 mb-4 pl-1 pr-1">
                            <a th:href="@{/description}" class="custom-card">
                                <div class="card target-found">
                                    <div class="salient-img">
                                        <img class="card-img-top" th:src="@{/assets/img/house3.jpg}"
                                             alt="Card image cap">
                                        <div class="btn btn-sm salient-action">
                                            <span>Alquiler</span>
                                        </div>
                                        <div class="salient-fav fav-format">
                                            <i class="fas fa-star text-warning"></i>
                                        </div>
                                        <div class="salient-interest d-flex justify-content-around">
                                            <i class="fas fa-heart text-danger fav-format"></i>
                                            <i class="fas fa-ban text-danger fav-format"></i>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h5 class="card-title text-accent">Diseño rústico</h5>
                                        </div>
                                        <h5><i class="fas fa-dollar-sign">1000</i></h5>
                                        <hr>
                                        <p>
                                            <i class="fas fa-map-marker-alt text-muted mr-3"></i> 75 avenida norte
                                        </p>
                                        <div class="d-flex justify-content-between text-muted text-center">
                                            <div>
                                                <i class="far fa-clone"></i> 2
                                                <h6>Cuartos</h6>
                                            </div>
                                            <div>
                                                <i class="fas fa-bed"></i> 3
                                                <h6>Dormitorios</h6>
                                            </div>
                                            <div>
                                                <i class="fas fa-bath"></i> 2
                                                <h6>Baños</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 mb-4 pl-1 pr-1">
                            <a th:href="@{/description}" class="custom-card">
                                <div class="card target-found">
                                    <div class="salient-img">
                                        <img class="card-img-top" th:src="@{/assets/img/house3.jpg}"
                                             alt="Card image cap">
                                        <div class="btn btn-sm salient-action">
                                            <span>Alquiler</span>
                                        </div>
                                        <div class="salient-fav fav-format">
                                            <i class="fas fa-star text-warning"></i>
                                        </div>
                                        <div class="salient-interest d-flex justify-content-around">
                                            <i class="fas fa-heart text-danger fav-format"></i>
                                            <i class="fas fa-ban text-danger fav-format"></i>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h5 class="card-title text-accent">Removida a final de agosto</h5>
                                        </div>
                                        <h5><i class="fas fa-dollar-sign">1000</i></h5>
                                        <hr>
                                        <p>
                                            <i class="fas fa-map-marker-alt text-muted mr-3"></i> 75 avenida norte
                                        </p>
                                        <div class="d-flex justify-content-between text-muted text-center">
                                            <div>
                                                <i class="far fa-clone"></i> 2
                                                <h6>Cuartos</h6>
                                            </div>
                                            <div>
                                                <i class="fas fa-bed"></i> 3
                                                <h6>Dormitorios</h6>
                                            </div>
                                            <div>
                                                <i class="fas fa-bath"></i> 2
                                                <h6>Baños</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 mb-4 pl-1 pr-1">
                            <a th:href="@{/description}" class="custom-card">
                                <div class="card target-found">
                                    <div class="salient-img">
                                        <img class="card-img-top" th:src="@{/assets/img/house2.jpg}"
                                             alt="Card image cap">
                                        <div class="btn btn-sm salient-action">
                                            <span>Alquiler</span>
                                        </div>
                                        <div class="salient-fav fav-format">
                                            <i class="fas fa-star text-warning"></i>
                                        </div>
                                        <div class="salient-interest d-flex justify-content-around">
                                            <i class="fas fa-heart text-danger fav-format"></i>
                                            <i class="fas fa-ban text-danger fav-format"></i>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h5 class="card-title text-accent">Recién remodelada</h5>
                                        </div>
                                        <h5><i class="fas fa-dollar-sign">1000</i></h5>
                                        <hr>
                                        <p>
                                            <i class="fas fa-map-marker-alt text-muted mr-3"></i> 75 avenida norte
                                        </p>
                                        <div class="d-flex justify-content-between text-muted text-center">
                                            <div>
                                                <i class="far fa-clone"></i> 2
                                                <h6>Cuartos</h6>
                                            </div>
                                            <div>
                                                <i class="fas fa-bed"></i> 3
                                                <h6>Dormitorios</h6>
                                            </div>
                                            <div>
                                                <i class="fas fa-bath"></i> 2
                                                <h6>Baños</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 mb-4 pl-1 pr-1">
                            <a th:href="@{/description}" class="custom-card">
                                <div class="card target-found">
                                    <div class="salient-img">
                                        <img class="card-img-top" th:src="@{/assets/img/house1.jpg}"
                                             alt="Card image cap">
                                        <div class="btn btn-sm salient-action">
                                            <span>Alquiler</span>
                                        </div>
                                        <div class="salient-fav fav-format">
                                            <i class="fas fa-star text-warning"></i>
                                        </div>
                                        <div class="salient-interest d-flex justify-content-around">
                                            <i class="fas fa-heart text-danger fav-format"></i>
                                            <i class="fas fa-ban text-danger fav-format"></i>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h5 class="card-title text-accent">Se necesita inquilino, rápido</h5>
                                        </div>
                                        <h5><i class="fas fa-dollar-sign">1000</i></h5>
                                        <hr>
                                        <p>
                                            <i class="fas fa-map-marker-alt text-muted mr-3"></i> 75 avenida norte
                                        </p>
                                        <div class="d-flex justify-content-between text-muted text-center">
                                            <div>
                                                <i class="far fa-clone"></i> 2
                                                <h6>Cuartos</h6>
                                            </div>
                                            <div>
                                                <i class="fas fa-bed"></i> 3
                                                <h6>Dormitorios</h6>
                                            </div>
                                            <div>
                                                <i class="fas fa-bath"></i> 2
                                                <h6>Baños</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map-holder" class="col-md-0 bg-light p-0">
            <div id="map"></div>
        </div>
    </div>
</div>
<div th:replace="client/fragments/footer::script-files"></div>

<script type="text/javascript" th:src="@{/assets/js/client/search/search-content.js}"></script>
<script th:replace="client/inline/map-config-search::map-javascript"></script>
</body>
</html>