<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="client" id="client">
    <div class="pl-1 w-100">
        <h6>Profile</h6>
    </div>
    <div class="pl-1 w-100">
        <h6>Request</h6>
    </div>
    <div class="pl-1 w-100">
        <h6>Personal space</h6>
    </div>
</div>
<div th:fragment="enterprise" id="enterprise">
    <div class="pl-1 w-100">
        <h6>Profile</h6>
    </div>
    <div class="pl-1 w-100">
        <h6>Request</h6>
    </div>
    <div class="pl-1 w-100">
        <h6>Personal space</h6>
    </div>
</div>
<div th:fragment="admin" id="admin">

</div>
</html>