<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:inline="javascript" th:fragment="map-javascript">
    var filter = [
        {'btn': 'price-btn', 'tooltip': 'price-nav-popover',
            'slider': 'price-range-slider','sliderOption': 2,
            'inputs': ['min-price', 'max-price'] },
        {'btn': 'surface-btn', 'tooltip': 'surface-nav-popover',
            'slider':'surface-range-slider',  'sliderOption': 1,
            'inputs': ['min-surface']
        }];

    function initMap() {
        var nearbyMap = [[${points}]];
        var points = nearbyMap.length;
        var averageLng = 0;
        var averageLat = 0;
        var scaledSizeMarker = new google.maps.Size(35, 35);
        var originMarker = new google.maps.Point(0, 0);
        var anchorMarker = new google.maps.Point(0,44);
        var markerIcon = {
            url: 'http://image.flaticon.com/icons/svg/252/252025.svg',
            scaledSize: scaledSizeMarker,
            origin: originMarker,
            anchor: anchorMarker
        };

        if(points>0){
            nearbyMap.forEach(function (p) {
                averageLng += p.lng;
                averageLat += p.lat;
            });
            var targetLocation = new google.maps.LatLng(averageLat/points, averageLng/points);

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: targetLocation,
                mapTypeId: 'roadmap'
            });

            nearbyMap.forEach(function (p) {
                var markerLatLng = new google.maps.LatLng(p.lat, p.lng);
                new google.maps.Marker({
                    map: map,
                    animation: google.maps.Animation.DROP,
                    position: markerLatLng,
                    icon: markerIcon
                });
            });
        }
    }
    $( document ).ready(function() {
        initMap();
        filter.forEach(function (e) {
            setPopoverMenu(e);
        });
        if(mapToggle.checked){
            changeSearchMapState();
        }
    });
</script>
</html>